body {
	margin: 0;
	padding: 0;
	width: 50%;
	height:800px;
	background: url(images/img.jpg) no-repeat;
	background-size: cover;
	font-family: 'Mr De Haviland', cursive;
}
#navdiv{
	opacity: 0.7;
	filter: (opacity=70);
}
#navdiv ul{
	width: 195%;
	height:80px;
	background: #648DA0;
	line-height: 80px;
	color: white;
	margin-right: 35px;
}
#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 20px;
}
#navdiv ul li {
	list-style-type : none;
	display: inline block;
	float: right;
}
#navdiv ul li:hover{
	background: #232727;
	transition:all 0.40s; 
}
#navdiv h1{
	color: white;
	width: 600px;
	float: left;
	cursor: pointer;
	letter-spacing: 2px;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
	font-size: 45px;
	margin: auto;
	margin-left: 20px;
}
.prof{
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 40px;
	height: 500px;
	width: 500px;
	margin-left: 52%;
	margin-top: 10%;
}
.profile_pic{
	margin-left: 32%;
	height: 150px;
	width: 150px;
}
.info{
	width: 950px;
	height: 580px;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	margin: auto;
	margin-top: 8%;
	margin-left: 30%;
	color: white;
	font-family: 'Mr De Haviland', cursive;
	}
}
.info h1{
	font-family: 'Mr De Haviland', cursive;
	margin-top: 5%;
}
.info p{
	font-family: 'Comic sans MS', sans-serif;
	font-size: 15px;
}
.wrapper {
width: 720px;
margin-left: 30%;
}
.header {
margin-left: 30%;
}
.goal {
width: 220px;
float: left;
margin: 10px;
height: 198px;
}
figure {
display: block;
width: 202px;
height: 200px;
background-color: #e7e3d8;
padding: 9px;
}
figure img {
width: 200px;
height: 150px;
border: 1px solid #d6d6d6;
}
figcaption {
text-align: center;
font-size: 20px;
font-family: 'Surabi Bandung';
}